name: "sfme config file"

api_id: ""
api_hash: ""
session_name: "sfme"
key_prefix: "sfme" # Prefix for Redis keys
user_id: ""
bot_token: ""

redis:
  host: "localhost"
  port: 6379
  password: ""
  db: 0

handlers:
  auto_forward:
    enabled: true
    rules:
      - forward_from: "-11"
        forward_to: "-22"
      - forward_from: "-33"
        forward_to: "-44"
  auto_dme:
    enabled: true
    cache_time: 3600 # minutes
